alabaster==0.7.10
anaconda-client==1.6.3
anaconda-navigator==1.6.2
anaconda-project==0.6.0
appdirs==1.4.3
asn1crypto==0.22.0
astroid==1.4.9
astropy==1.3.2
Babel==2.4.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
backports.weakref==1.0rc1
beautifulsoup4==4.3.2
bitarray==0.8.1
blaze==0.10.1
bleach==1.5.0
bokeh==0.12.5
boto==2.46.1
bottle==0.12.13
Bottleneck==1.2.1
bz2file==0.98
cdecimal==2.3
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
click==6.7
cloudpickle==0.2.2
clyent==1.2.2
colorama==0.3.9
conda==4.3.21
configparser==3.5.0
contextlib2==0.5.5
cryptography==1.8.1
cssselect==0.9.1
cycler==0.10.0
cymem==1.31.2
Cython==0.25.2
cytoolz==0.8.2
dask==0.14.3
datashape==0.5.4
decorator==4.0.11
dill==0.2.6
Distance==0.1.3
distributed==1.16.3
docutils==0.13.1
elasticsearch==5.3.0
en-core-web-md==1.2.0
entrypoints==0.2.2
enum34==1.1.6
et-xmlfile==1.0.1
extraction==0.2
fastcache==1.0.2
feedfinder2==0.0.1
feedparser==5.1.3
Flask==0.12.2
Flask-Cors==3.0.2
ftfy==4.4.3
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.1.1
fuzzywuzzy==0.12.0
gensim==0.13.3
geograpy==0.3.7
gevent==1.2.1
greenlet==0.4.12
grin==1.2.1
gunicorn==19.7.1
h5py==2.7.0
HeapDict==1.0.0
html5lib==0.9999999
idna==2.5
imagesize==0.7.1
ipaddress==1.0.18
ipykernel==4.6.1
ipython==5.3.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isort==4.2.5
itsdangerous==0.24
jdcal==1.3
jedi==0.10.2
jellyfish==0.5.6
jieba==0.35
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
Keras==1.2.2
lazy-object-proxy==1.2.2
llvmlite==0.18.0
locket==0.2.0
lxml==3.3.5
Markdown==2.6.8
MarkupSafe==0.23
matplotlib==2.0.2
mistune==0.7.4
mock==2.0.0
mpmath==0.19
msgpack-python==0.4.8
multipledispatch==0.4.9
murmurhash==0.26.4
navigator-updater==0.1.0
nbconvert==5.1.1
nbformat==4.3.0
networkx==1.11
newspaper==0.0.9.8
nltk==3.2.3
nose==1.3.7
notebook==5.0.0
numba==0.33.0+0.ge79330a.dirty
numexpr==2.6.2
numpy==1.13.1
numpydoc==0.6.0
odo==0.5.0
olefile==0.44
opencv-contrib-python==3.2.0.7
openpyxl==2.4.7
packaging==16.8
pandas==0.20.1
pandocfilters==1.4.1
partd==0.3.8
pathlib==1.0.1
pathlib2==2.2.1
patsy==0.4.1
Pattern==2.6
pbr==3.1.1
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==2.5.1
plac==0.9.6
ply==3.10
preshed==1.0.0
prompt-toolkit==1.0.14
protobuf==3.3.0
psutil==5.2.2
ptyprocess==0.5.1
py==1.4.33
pycairo==1.10.0
pycosat==0.6.2
pycountry==16.11.27.1
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0
pydub==0.19.0
pyenchant==1.6.8
pyflakes==1.5.0
pygame==1.9.2
Pygments==2.2.0
pylint==1.6.4
pyodbc==4.0.16
pyOpenSSL==17.0.0
pyparsing==2.2.0
pytest==3.0.7
python-crfsuite==0.9.1
python-dateutil==2.4.0
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.0
QtPy==1.2.1
regex==2017.4.5
requests==2.18.1
rope==0.9.4
scandir==1.5
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.19.1
seaborn==0.7.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn-crfsuite==0.3.4
smart-open==1.3.5
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
spacy==1.8.2
Sphinx==1.5.6
spyder==3.1.4
SQLAlchemy==1.1.9
statsmodels==0.8.0
subprocess32==3.2.7
sympy==1.0
tables==3.3.0
tblib==1.3.2
tensorflow==2.3.1
tensorflow-gpu==1.2.1
termcolor==1.1.0
terminado==0.6
testpath==0.3
Theano==0.9.0
thinc==6.5.2
tldextract==1.5.1
toolz==0.8.2
tornado==4.5.1
tqdm==4.14.0
traitlets==4.3.2
ujson==1.35
unicodecsv==0.14.1
urllib3==1.21.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==2.0.0
word2vec==0.9.1
word2veckeras==0.0.5.2
wrapt==1.10.10
xlrd==1.0.0
XlsxWriter==0.9.6
xlwt==1.2.0
zict==0.1.2

