alabaster==0.7.7
anaconda-client==1.4.0
anaconda-navigator==1.1.0
argcomplete==1.0.0
astropy==1.1.2
Babel==2.2.0
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
bitarray==0.8.1
blaze==0.9.1
bokeh==0.11.1
boto==2.39.0
Bottleneck==1.0.0
CacheControl==0.12.1
cdecimal==2.3
cffi==1.5.2
chest==0.2.3
cloudpickle==0.1.1
clyent==1.2.1
colorama==0.3.7
conda==4.0.5
conda-build==1.20.0
conda-env==2.4.5
conda-manager==0.3.1
configobj==5.0.6
cryptography==1.3
cycler==0.10.0
cymem==1.31.2
Cython==0.23.4
cytoolz==0.7.5
dask==0.8.1
datashape==0.5.1
decorator==4.0.9
dill==0.2.4
Django==1.9.5
docutils==0.12
dynd==0.7.3.dev1
enum34==1.1.2
et-xmlfile==1.0.1
fastcache==1.0.2
Flask==0.10.1
Flask-Cors==2.1.2
FormEncode==1.3.0
funcsigs==0.4
futures==3.0.3
fuzzywuzzy==0.10.0
gevent==1.1.0
greenlet==0.4.9
grin==1.2.1
h5py==2.5.0
HeapDict==1.0.0
html==1.16
idna==2.0
image==1.5.4
imdbpie==4.2.0
IMDbPY==4.9
ipaddress==1.0.14
ipykernel==4.3.1
ipython==4.1.2
ipython-genutils==0.1.0
ipywidgets==4.1.1
isodate==0.5.4
itsdangerous==0.24
jdcal==1.2
jedi==0.9.0
Jinja2==2.8
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.1.1
jupyter-core==4.1.0
Keras==1.0.6
llvmlite==0.9.0
locket==0.2.0
lockfile==0.12.2
lxml==3.6.0
MarkupSafe==0.23
matplotlib==1.5.1
mechanize==0.2.5
mistune==0.7.2
mpmath==0.19
msgpack-python==0.4.8
multipledispatch==0.4.8
murmurhash==0.26.4
nbconvert==4.1.0
nbformat==4.0.1
neo4jdb==0.0.9
networkx==1.11
nltk==3.2
nose==1.3.7
notebook==4.1.0
numba==0.24.0
numexpr==2.5
numpy==1.10.4
odo==0.4.2
omdb==0.7.0
openpyxl==2.3.2
pandas==0.18.0
partd==0.3.2
path.py==0.0.0
patsy==0.4.0
Pattern==2.6
pbr==1.9.1
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.5
Pillow==3.1.1
plac==0.9.6
playsound==1.2.1
ply==3.8
preshed==0.46.4
protobuf==3.0.0b2
psutil==4.1.0
psycopg2==2.6.1
ptyprocess==0.5
py==1.4.31
py-earth==0.1.0
py2neo==3
pyasn1==0.1.9
pycairo==1.10.0
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.5.3
pyflakes==1.1.0
pyglet==1.2.4
Pygments==2.1.1
PyMySQL==0.7.10
pyOpenSSL==0.15.1
pyparsing==2.0.3
pytest==2.8.5
python-dateutil==2.5.1
python-Levenshtein==0.12.0
pytube==6.1.11
pytz==2016.2
PyYAML==3.11
pyzmq==15.2.0
QtAwesome==0.3.2
qtconsole==4.2.0
QtPy==1.0
rdflib==4.2.2
redis==2.10.3
regex==2016.5.23
requests==2.9.1
rope==0.9.4
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.17.0
selenium==2.53.2
semver==2.6.0
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.1
spacy==0.101.0
SPARQLWrapper==1.8.0
Sphinx==1.3.5
sphinx-gallery==0.1.8
sphinx-rtd-theme==0.1.9
sputnik==0.9.3
spyder==2.3.8
SQLAlchemy==1.0.12
sqlalchemy-migrate==0.10.0
SQLObject==2.2.0
sqlparse==0.1.19
statsmodels==0.6.1
stem==1.4.0
sympy==1.0
tables==3.2.2
Tempita==0.5.2
tensorflow==2.5.1
terminado==0.5
Theano==0.8.2
thinc==5.0.8
toolz==0.7.4
torctl==0.2
tornado==4.3
traitlets==4.2.1
unicodecsv==0.14.1
Unidecode==0.4.19
validators==0.10.3
Werkzeug==0.11.4
xlrd==0.9.4
XlsxWriter==0.8.4
xlwt==1.0.0
youtube-dl==2016.11.18